{% load cms_tags i18n thumbnail static %}

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div class="contact-block">
                <div class="row">
                    <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
                        <div>
                            <h4 class="mb-2">{{ instance.title }}</h4>
                            <div class="mb-2">
                                <a href="tel:{{ instance.phone }}" class="btn btn-primary rounded-pill mb-1">{{ instance.phone }}</a>
                                <a href="mailto:{{ instance.email }}" class="btn btn-primary rounded-pill mb-1">{{ instance.email }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        {% if instance.image %}
                            {% thumbnail instance.image 800x600 crop upscale subject_location=instance.image.subject_location as thumb %}
                            <img src="{{ thumb.url }}" alt="{{ instance.title }}" class="img-fluid rounded-32" height="{{ thumb.height }}" width="{{ thumb.width }}" />
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
