{% load cms_tags i18n thumbnail static %}

{% thumbnail instance.image 1920x1080 crop upscale subject_location=instance.image.subject_location as thumb %}
<div class="hero {{ instance.image_height }} {{ instance.template }}" style="background-image: url('{{ thumb.url }}')">
    <div class="container hero-container">
        <div class="row {{ instance.image_height }}">
            <div class="col-12 col-md-6 hero-col">
                <div class="hero-title">
                    {% if instance.title %}
                        <h1>{{ instance.title }}</h1>
                    {% endif %}
                    {% if instance.subtitle %}
                        <h2>{{ instance.subtitle }}</h2>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 offset-lg-1 hero-col justify-md-content-end">
                {% for plugin in instance.child_plugin_instances %}
                    {% render_plugin plugin %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>