{% load cms_tags i18n thumbnail static %}

<div class="hero {{ instance.image_height }}" style="background-image: url('{% static 'images/testbild.png' %}')">
    <div class="container hero-container">
        <div class="row {{ instance.image_height }}">
            <div class="col-12 col-md-6 hero-col">
                <div class="hero-title">
                    {% if instance.title %}
                        <h1>{{ instance.title }}</h1>
                    {% endif %}
                    {% if instance.subtitle %}
                        <h2>{{ instance.subtitle }}</h2>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 hero-col justify-md-content-end">
                {% for plugin in instance.child_plugin_instances %}
                    {% render_plugin plugin %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>