{% load cms_tags sekizai_tags i18n menu_tags compress thumbnail static %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html itemscope itemtype="http://schema.org/LocalBusiness" lang="{{ LANGUAGE_CODE|default:'en-gb' }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html itemscope itemtype="http://schema.org/LocalBusiness" lang="{{ LANGUAGE_CODE|default:'en-gb' }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html itemscope itemtype="http://schema.org/LocalBusiness" lang="{{ LANGUAGE_CODE|default:'en-gb' }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 11]><!--><html itemscope itemtype="http://schema.org/LocalBusiness" lang="{{ LANGUAGE_CODE|default:'en-gb' }}" class="no-js"><!--<![endif]-->
<head prefix="dcterms: http://purl.org/dc/terms/#">
    <meta charset="UTF-8" />
    <!--
        ———————————————————————————————————————————————————————————————————————————————
        Design & Code:
        www.kainbacher.io - DIGITALE INSZENIERUNG
        ———————————————————————————————————————————————————————————————————————————————
    -->
    {% include 'truendo.html' %}
    {% include "gtag_head.html" %}
    {% comment %} Google Search Console Tag zum verifizieren {% endcomment %}
    <meta name="google-site-verification" content="0srVcSEvhjWBX7QV3ozSNAjJqlfl1efN0QgHWlGNM9U" />
    <title>{% block extra_title %}{% endblock extra_title %}{% page_attribute page_title %} - Zahnarztpraxis Dr. Georg Neubauer</title>
    <meta name="description" content="{% block page_description %}{% page_attribute meta_description %}{% endblock page_description %}"/>
    <meta name="author" content="Zahnarztpraxis Dr. Georg Neubauer" />
    <meta name="revisit-after" content="10 days" />
    <meta name="robots" content="index, follow" />

    {# Emit a 'canonical' tag when the page is displayed on an alternate url #}
    {% page_url request.current_page as current_url %}
    {% if current_url %}<link rel="canonical" href="https://www.dr-neubauer.at{% page_url request.current_page %}{% block extra_cannonical_url %}{% endblock %}">{% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "favicon.html" %}
    {% include "meta_dublincore.html" %}
    {% include "meta_socialmediacards.html" %}
    {% block extra_meta %}{% endblock %}
    {% render_block "css" %}
    <link href="{% static 'swiper/swiper-bundle.min.css' %}" rel="stylesheet" />
    {% compress css %}
    <link href="{% static 'css/styles.min.css' %}" rel="stylesheet" />
    {% endcompress %}
    {% block extra_css %}{% endblock %}
</head>

<body class="page-{% page_attribute 'slug' %}"
x-data="{ showMobileNav: false }"
>
{% cms_toolbar %}
{% include "gtag_head.html" %}
{% include "header.html" %}

<main x-show="!showMobileNav">
    {% block base_content %}
    {% endblock base_content %}
</main>

{% include "footer.html" %}

{% render_block "modal" %}
{% render_block "js" %}
{% comment %} <script src="{% static 'swiper/swiper-bundle.min.js' %}"></script> {% endcomment %}
<script src="{% static 'js/alpinejs-3.12.3.js' %}"></script>
{% compress js %}
{% comment %} <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
{% endcompress %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Zahnarztpraxis Dr. Georg Neubauer",
        "url": "https://www.dr-neubauer.at/",
        "address": "Gesundheitspark Walgau, Bundesstraße 47, 6710 Nenzing, Vorarlberg / Österreich",
        "email": "office@dr-neubauer.at",
        "telephone": "+43 000 000 000",
        "sameAs": [
        "https://www.instagram.com/",
        "https://www.linkedin.com/company/",
        "https://www.facebook.com/"
        ]
    }
</script>
</body>
</html>
