{% load cms_tags sekizai_tags i18n menu_tags compress thumbnail static %}
<header>
    <div class="header" x-data="{ showApointmentBox: false }">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3 col-xxl-3 pe-lg-4">
                    <a class="navbar-brand" href="/" title="Dr. Georg Neubauer">
                        {% include 'logo.html' %}
                    </a>
                </div>
                <nav class="header-nav col-4 col-lg-7 col-xxl-7 d-none d-xl-flex">
                    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbar-main">
                        <ul class="navbar-nav align-items-center d-flex flex-row">
                            {% show_menu 0 100 100 100 'nav-main.html' %}
                        </ul>
                    </div>
                </nav>
                <div class="col-6 offset-md-3 col-xl-2 offset-lg-3 offset-xl-0 d-flex justify-content-end">
                    <div class="d-flex justify-content-center align-items-center gap-1">
                        <button x-on:click="showApointmentBox = !showApointmentBox" class="btn btn-primary rounded-pill">
                            Termin <span class="d-none d-md-inline">vereinbaren</span>
                        </button>
                        <button x-on:click="showMobileNav = !showMobileNav" class="btn btn-primary rounded-pill d-flex align-items-center d-lg-none">
                            {% comment %} Hamburger {% endcomment %}
                            <svg
                                :class="{ 'd-block': showMobileNav, 'd-none' : showMobileNav }"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                            >
                                <line x1="3" y1="12" x2="21" y2="12"></line>
                                <line x1="3" y1="6" x2="21" y2="6"></line>
                                <line x1="3" y1="18" x2="21" y2="18"></line>
                            </svg>
                            {% comment %} Close {% endcomment %}
                            <svg
                                :class="{ 'd-block': !showMobileNav, 'd-none' : !showMobileNav }"
                                class="d-none"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                            >
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <nav
                class="mobile-nav"
                :class="{ 'd-block': showMobileNav, 'd-none' : !showMobileNav }"
            >
                {% show_menu 0 100 100 100 'nav-mobile.html' %}
            </nav>

            <div class="d-none" :class="{ 'd-flex': showApointmentBox, 'd-none' : !showApointmentBox }">
                {% static_placeholder "appointmentform" %}
            </div>
        </div>
    </div>
</header>