{% load i18n sekizai_tags static %}

{% addtoblock "modal" %}
    <div
        x-data="{ open: {% if form_sent %}true{% else %}false{% endif %} }"
        class="modal"
        :class="{ 'modal-open': open }"
        x-show="open"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row py-5">
                        <div class="col-12 text-center">
                            <svg width="180px" height="180px" viewBox="0 0 180 180" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <path d="M90,0 C139.626667,0 180,40.3766667 180,90 C180,139.626667 139.626667,180 90,180 C40.3733333,180 0,139.626667 0,90 C0,40.3766667 40.3733333,0 90,0 Z M90,172 C135.213333,172 172,135.216667 172,90 C172,44.7866667 135.213333,8.00333333 90,8.00333333 C44.7866667,8.00333333 8,44.7866667 8,90 C8,135.216667 44.7866667,172 90,172 Z" id="Icon" fill="#666666"></path>
                                    <path d="M139.840333,54.5033333 L74.337,119.823333 L40.1603333,85.7433333 C38.5936667,84.1866667 36.0603333,84.19 34.5003333,85.75 C32.9436667,87.3166667 32.947,89.85 34.507,91.4066667 L71.5103333,128.306667 C71.7836667,128.576667 72.1136667,128.74 72.4336667,128.916667 C72.5703333,128.993333 72.687,129.12 72.8303333,129.18 C73.3136667,129.376667 73.8236667,129.473333 74.337,129.473333 C74.847,129.473333 75.3603333,129.376667 75.8403333,129.18 C75.987,129.12 76.1003333,128.993333 76.237,128.916667 C76.5603333,128.74 76.887,128.576667 77.1603333,128.306667 L145.490333,60.1666667 C147.053667,58.6066667 147.057,56.0766667 145.497,54.51 C143.940333,52.95 141.410333,52.9433333 139.840333,54.5033333" id="Fill-24" fill="#000000"></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="row pb-5">
                        <div class="col-12 col-md-8 offset-md-2 text-center">
                            {% if instance.sent_message %}
                                <div class="my-5">
                                    {{ instance.sent_message|safe }}
                                </div>
                            {% endif %}
                            <div class="form-group pb-1 text-center form-submit">
                                <button type="button" class="btn btn-primary" @click="open = ! open">schließen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endaddtoblock %}


<section class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-opinion">
                <div class="row mb-2">
                    <div class="col-12">
                        <h4>Ihre Meinung ist uns wichtig!</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>Wir sind dankbar für Ihre Bewertung unserer Zahnarztpraxis. Sie können und auf Google, Facebook oder direkt auf unserer Website bewerten. Vielen Dank für Ihre Bemühungen!</p>
                        <div class="mb-2">
                            <a href="#" class="btn btn-primary rounded-pill">Facebook Bewertung</a>
                            <a href="#" class="btn btn-primary rounded-pill">Google Berwertung</a>
                        </div>
                        <img src="{% static 'images/testbild.png' %}" alt="Title" class="img-fluid rounded-32" />
                    </div>
                    <div class="col-12 col-md-8 px-0 px-4">
                        <h5 class="mb-2">Direkte Empfehlung</h5>
                        <form action='' method="post" data-toggle="validator" class="contact-form">
                            {% csrf_token %}
                            {{ form.check1 }}

                            {% if form_invalid %}
                                <div class="alert alert-warning" role="alert">
                                    <p class="mb-0">Das Formular konnte nicht korrekt versendet werden. Bitte füllen Sie das Formular korrekt aus und versuchen Sie es erneut.</p>
                                </div>
                            {% endif %}

                            <div class="row">
                                <div class="col-12 col-md-6">

                                    <div class="form-group pb-1">
                                        <label for="id_name">Name</label>
                                        <input class="form-control" type="text" name="name" id="id_name" required>
                                        <div class="help-block with-errors">
                                            {% if form.name.errors %}
                                                {% for error in form.name.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="form-group pb-1">
                                        <label for="id_email">{% trans 'Email' context "E-Mail short" %}</label>
                                        {# {{ form.email }} #}
                                        <input class="form-control" type="email" name="email" id="id_email" required />
                                        <div class="help-block with-errors">
                                            {% if form.email.errors %}
                                                {% for error in form.email.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="mb-1">
                                        <label for="exampleInputEmail1" class="form-label">Würden Sie uns weiterempfehlen?</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Ja
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Nein
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 col-md-6">

                                    <div class="form-group pb-1">
                                        <label for="id_content">Nachricht</label>
                                        <textarea class="form-control" cols="50" id="id_content" name="content" rows="5"></textarea>
                                        {# {{ form.content }} #}
                                    </div>

                                    <div class="mb-1 form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Ich habe die <a href="/datenschutz/" title="Datenschutzerklärung">Datenschutzerklärung</a> gelesen und stimme zu.
                                        </label>
                                    </div>
                                    <div class="mb-1">
                                        <input id="btn_submit" type="submit" value="Formular absenden" class="btn btn-primary rounded-pill">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
